@inherits LayoutComponentBase
@inject NavigationManager NavigationMgr;

<PageTitle>ROI-BI</PageTitle>


@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async void NavigateAdmin()
    {
        //await protectedSessionStore.SetAsync("LoginStatus", "True");
        //var signinResult = LoginSvc.SignIn(login);
        //var loginstatus = await protectedSessionStore.GetAsync<string>("LoginStatus");
        //var userMenu = await protectedSessionStore.GetAsync<string>("UserMenu");
        NavigationMgr.NavigateTo("/Admin");
    }

}

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Score Card - Business Intelligence</MudText>
        <MudSpacer />

        <MudIconButton @onclick="@NavigateAdmin"  Title="Admin" Icon="@Icons.Filled.AdminPanelSettings" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.AccountCircle" Color="Color.Inherit" Edge="Edge.End" />
@*        <MudAvatar Color="Color.Secondary">U</MudAvatar>
*@
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div style="padding:10px" >
        @Body
        </div>
    </MudMainContent>
</MudLayout>





@*
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Daenerys</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
