@using System.Text.Json;
@using ROI_BI_Lib.Data
@using ROI_BI_Lib.Models
@using ROI_BI_Lib.Models.Dto
@inject ROIMenuService MenuSvc
@using System.Reflection
@using System.Collections;
@inject ProtectedSessionStorage protectedSessionStore;

@code {
    private bool expandSubNav;
    private bool collapseNavMenu = true;
    private int clickedMenu = 0;
    private bool hasPageName = true;
    private int prevClickMenu = 0;

    public IEnumerable<MenuDTO> lstMenu;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    string[] MenuItems = new string[] {"Dashboard", "Person"};

    public string GetIconValue(string IconName)
    {
        return typeof(Icons.Material.Outlined).GetField(IconName).GetValue(null).ToString();
    }

    private void ToggleNavMenu()
    {
        if (hasPageName)
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }

    public string GetLink(string reportid)
    {
        return $"ROIBIReport/{reportid}";
    }

    public void GetIsClicked(Roimenu menu)
    {
        clickedMenu = menu.MenuId;
        if (prevClickMenu != clickedMenu)
        {
            expandSubNav = false;
            if (menu.NavigateUrl != "" || menu.MenuName == "Home")
            {
                hasPageName = true;
            }
            else
            {
                expandSubNav = !expandSubNav;
                hasPageName = false;
            }
        }
        else
        {
            expandSubNav = !expandSubNav;
        }
        prevClickMenu = clickedMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var userMenu = await protectedSessionStore.GetAsync<string>("UserMenu");
        lstMenu = JsonSerializer.Deserialize<List<MenuDTO>>(userMenu.Value);
        StateHasChanged();
    }
}


<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full" Bordered="true">

        @if (lstMenu is null)
        {
            <p><MudProgressCircular Color="Color.Default" Indeterminate="true" /></p>
        }
        else
        {
            @foreach (var menu in lstMenu)
            {
                @if (menu.ParentMenuId is null)
                {
                    if (menu.IsGroup.Value)
                    {
                        <MudNavGroup title="@menu.MenuName" Icon="@GetIconValue(menu.Icon)">

                            @foreach (var submenu in lstMenu.Where(x => x.ParentMenuId == menu.MenuId))
                            {
                                <MudNavLink Href="@GetLink(submenu.ReportGuid)" Icon="@GetIconValue(submenu.Icon)">@submenu.MenuName</MudNavLink>
                            }
                        </MudNavGroup>
                    }
                    else
                    {
                        <MudNavLink Href="@GetLink(menu.ReportGuid)" Icon="@GetIconValue(menu.Icon)">@menu.MenuName</MudNavLink>
                    }
                }
               
            }
        }
    </MudNavMenu>
</MudPaper>

