@page "/ROIBIReport/{reportid}"
@using System.Net.Http
@using System.Threading.Tasks
@using Microsoft.Identity.Client
@using Microsoft.PowerBI.Api
@using Microsoft.PowerBI.Api.Models
@using Microsoft.Rest
@using Newtonsoft.Json.Linq
@using Microsoft.Extensions.Configuration
@using ROI_BI_Lib.Data
@using ROI_BI_Lib.Models
@inject IJSRuntime JSRuntime
@inject ROIReportService ROIReportSvc

<h3>ROI Power BI Report</h3>

<div>
    <MudPaper Class="d-flex pa-2" Outlined="true">
        <MudDatePicker @bind-Date="@fromDate" Class="pa-1 mr-16" DisableToolbar="true" Label="From" Editable="true" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Placeholder="MM/dd/yyyy" />
        <MudDatePicker @bind-Date="@toDate" Class="pa-1 mr-16" DisableToolbar="true" Label="To" Editable="true" Mask="@(new DateMask("MM/dd/yyyy"))" DateFormat="MM/dd/yyyy" Placeholder="MM/dd/yyyy" />
        <MudButton Class="pa-1 mr-16" Variant="Variant.Filled" Color="Color.Primary" @onclick=FetchReport>Get Report</MudButton>

    </MudPaper>
    <br />
    @*</MudAppBar>*@

    <div style="width:100%;height:600px;max-width: 2000px" id="divReport" @ref="@PowerBIElement">
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    </div>
</div>

@code {
    private ElementReference PowerBIElement;
    string TenantID;
    string ClientID;
    string ClientSecret;
    string workspaceId;
    string reportId;
    string ReportStatusHtml;
    bool IsDashboard = false;
    public DateTime? fromDate { get; set; }
    public DateTime? toDate { get; set; }

    [Parameter]
    public string reportid { get; set; }

    private async void FetchReport()
    {
        await ShowReport(fromDate?.ToString("MM'/'dd'/'yyyy"), toDate?.ToString("MM'/'dd'/'yyyy"));
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowReport(null, null);
        }
    }

    private async Task ShowReport(string fromdate, string todate)
    {
        if (string.IsNullOrEmpty(fromdate))
        {
            fromdate = DateTime.MinValue.ToString("MM'/'dd'/'yyyy");
        }

        if (string.IsNullOrEmpty(todate))
        {
            todate = DateTime.Now.ToString("MM'/'dd'/'yyyy");
        }

        ROI_BI_Lib.Models.Report rd = await ROIReportSvc.GetROIReportdetails(reportid);

        if (rd is not null)
        {
            ReportStatusHtml = "Fetching Report...";
            TenantID = rd.Tenant.TenantGuid;
            ClientID = rd.Tenant.ClientGuid;
            ClientSecret = rd.Tenant.ClientSecret;
            workspaceId = rd.WorkspaceGuid;
            reportId = rd.ReportGuid;
            IsDashboard = rd.IsDashboard.Value;

            try
            {
                AuthenticationResult authenticationResult = await DoAuthentication();
                var tokenCredentials = new TokenCredentials(authenticationResult.AccessToken, "Bearer");
                var generateTokenRequestParameters = new GenerateTokenRequest(accessLevel: "view");


                using (var client = new PowerBIClient(new Uri("https://api.powerbi.com/"), tokenCredentials))
                {

                    if (IsDashboard)
                    {
                        var dashboard = await client.Dashboards.GetDashboardAsync(new Guid(workspaceId), new Guid(reportId));
                        var tokenResponse = await client.Dashboards.GenerateTokenAsync(new Guid(workspaceId), dashboard.Id, generateTokenRequestParameters);
                        await BIReportinterop.CreateReport(JSRuntime, PowerBIElement, tokenResponse.Token, dashboard.EmbedUrl, dashboard.Id.ToString(), "dashboard");
                    }
                    else

                    {
                        var report = await client.Reports.GetReportInGroupAsync(new Guid(workspaceId), new Guid(reportId));
                        var datasets = await client.Datasets.GetDatasetInGroupAsync(new Guid(workspaceId), report.DatasetId);


                        var rls = new EffectiveIdentity();

                        if (!string.IsNullOrEmpty(fromdate) && !string.IsNullOrEmpty(todate))
                        {
                            rls.Roles = new List<string> { "scorecarduser" };
                            rls.Datasets = new List<string> { report.DatasetId };
                            rls.Username = $"{fromdate},{todate}";
                        }
                        var tokenParams = new GenerateTokenRequest();
                        tokenParams.AccessLevel = TokenAccessLevel.View;
                        tokenParams.Identities = new List<EffectiveIdentity> { rls };
                        tokenParams.DatasetId = report.DatasetId;


                        var tokenResponse = client.Reports.GenerateToken(
                            new Guid(workspaceId),
                            new Guid(reportId),
                            tokenParams);

                        //var tokenResponse = await client.Reports.GenerateTokenAsync(new Guid(workspaceId), new Guid(reportId), generateTokenRequestParameters);
                        await BIReportinterop.CreateReport(JSRuntime, PowerBIElement, tokenResponse.Token, report.EmbedUrl, report.Id.ToString(), "report");
                    }

                }
            }
            catch (Exception ex)
            {
                throw ex;
            }

            // }
        }
        else
        {
            ReportStatusHtml = "No Reports Found!";
        }
    }

    private const string AuthorityFormat = "https://login.microsoftonline.com/{0}/v2.0";
    private const string MSGraphScope = "https://analysis.windows.net/powerbi/api/.default";
    private async Task<AuthenticationResult> DoAuthentication()
    {
        AuthenticationResult authResult = default;
        try
        {
            IConfidentialClientApplication daemonClient;
            daemonClient = ConfidentialClientApplicationBuilder.Create(ClientID)
                .WithAuthority(string.Format(AuthorityFormat, TenantID))
                .WithClientSecret(ClientSecret)
                .Build();
            authResult = await daemonClient.AcquireTokenForClient(new[] { MSGraphScope }).ExecuteAsync();
        }
        catch (Exception ex)
        {
            //log the error
            return authResult;
        }
        return authResult;
    }
}





